{% extends 'usercenter/usercenter-base.html' %}

{% load staticfiles %}

{% block click_path %}
    <li>我的消息</li>
{% endblock %}

{% block active_ul %}
    <ul>
        <li><a href="{% url 'myuser:usercen_info' %}">个人资料</a></li>
        <li><a href="{% url 'myuser:usercen_mycourses' %}">我的课程</a></li>
        <li><a href="{% url 'myuser:usercen_myfav_orgs' %}">我的收藏</a></li>
        <li class="active2"><a href="{% url 'myuser:usercen_mymsg' %}">我的消息</a></li>
    </ul>
{% endblock %}

{% block middle_content %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的消息</h1>
            </div>

        </div>
        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li class="active"><a href="{% url 'myuser:usercen_mymsg' %}">个人消息</a></li>
                </ul>

            </div>
            <div class="messagelist">
                {#           消息列表 #}
                {% for msg in page_obj.object_list %}
                    <div class="messages" style="border-bottom: lightgrey solid 0.5px; padding-bottom: 20px">
                        <div class="fr">
                            <div id="read-msg" class="top">
                                <span class="fl time">{{ msg.add_time|date:'Y-m-d H:i:s' }}</span>
                                <button data-msgid="{{ msg.id }}" data-hasread="{{ msg.has_read }}"
                                        style="margin-left: 20px; background-color: {% if msg.has_read == 0 %}lightpink{% else %}lightgrey{% endif %}; ">
                                    {% if msg.has_read == False %}标为已读{% elif msg.has_read == True %}已读{% endif %}</button>
                                <span class="fr btn foldbtn"></span>
                            </div>
                            <p>{{ msg.message|default_if_none:'没有消息' }}</p>
                        </div>
                    </div>
                {% empty %}
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;没有消息列表<br><br>
                {% endfor %}

            </div>

            {#        分页按钮#}
            <div class="pageturn">
                <ul class="pagelist">

                    {% if page_obj.has_previous %}
                        <li class="long"><a href="?{{ page_obj.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in page_obj.pages %}
                        {% if page %}
                            {% ifequal page page_obj.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><a href="" class="none">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="long"><a href="?{{ page_obj.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>

    </div>

    {% block cust_script %}
        <script>
            $(function () {
                $("#read-msg > button").click(function () {
                    //alert($);
                    msg_id = $(this).attr("data-msgid");
                    has_read = $(this).attr("data-hasread");
                    if (has_read === 'True'){
                        return;
                    }
                    
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        cache: false,
                        url: "/myuser/usercen-mymsg/",
                        data: {
                            msg_id: msg_id,
                            has_read: has_read,
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status === "success") {
                                $(this).html("已读");
                                location.reload();
                            }
                            else {
                                $(this).html("标为已读");
                                location.reload();
                            }
                        },

                    })
                })
            })
        </script>
    {% endblock %}

{% endblock %}





