<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<input id="myinp" type="text" placeholder="输入内容">

<script>
$(function () {

    /*if($('#myinp').hasFocus()){
        alert('获得焦点');
    }

    if($('#myinp :focus').length >0){
        alert('获得焦点');
    }*/


    $("#myinp").click(function(){
      if(document.activeElement.id==="myinp" ){
        alert("获取焦点了");
      }
      else{
        alert("没有获取焦点");
      }
    });


    /*if($('#myinp').hasFocus()){
        alert('get focus！')
    }*/






});

</script>

</body>



</html>