<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<title>403</title>
</head>
<body>
<section>
    <div style="text-align: center; margin-top: 50px">
        <img src="{% static 'images/pic403.png' %}"/>
        <div>
            <img src="{% static 'images/word403.png' %}"/>
            <h1>没有访问权限！</h1>
            <br/><br/><br/><br/><br/><br/>
            <p>请求被拒！</p>
            <p>您可以尝试<span class="red">【重新加载此页面】</span></p>
        </div>
    </div>
</section>
</body>
</html>
